@model IEnumerable<VivedyWebApp.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<div class="adminCard">
    <div class=" mx-auto phenomena-sm display-3 text-center">
        BOOKINGS
    </div>
    <div class="white-bg-color admin-desktop">
        <a class="btn btn-danger  phenomena-sm " href="/Movies/Index">ADD <i class="fas fa-plus"></i></a>
        <input type="text" class="mb-3 float-right" id="Search" placeholder="Search by Email...">
        <br>
        <table class="table table-striped  phenomena-sm" style="border: 8px solid #a8000a; color: #222;">
            <thead>
                <tr class="text-center ">
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ScreeningId)
                    </th>
                    <th scope="col" style="width:95px;">
                        @Html.DisplayNameFor(model => model.Seats)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PayedAmout)
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody id="myList">
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @{
                                string scr = item.Screening.Movie.Name + ", " + item.Screening.StartDate.ToString("dddd, dd MMMM yyyy") + ", " + item.Screening.StartTime.ToString(@"hh\:mm");
                                @Html.ActionLink(scr, "Details", "Screenings", routeValues: new { id = item.ScreeningId }, htmlAttributes: new { @class = "mt-3 text-link phenomena-sm ml-5" })
                            }
                        </td>
                        <td style="width:95px; display: block; display: -webkit-box; height: 2rem; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;">
                            @Html.DisplayFor(modelItem => item.Seats)
                        </td>
                        <td class="userEmail">
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayedAmout)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                            @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-danger  phenomena-sm " href="/Admin/Bookings/DeleteAllOld">DELETE ALL OLD</a>
    </div>
    <div class="white-bg-color admin-mobile">
        <a class="btn btn-danger  phenomena-sm " href="/Admin/Bookings/Create">ADD <i class="fas fa-plus"></i></a>
        <input type="text" class="mb-3 float-right" id="Search" placeholder="Search by Email...">
        <br>
        <table class="table table-striped  phenomena-sm" style="border: 8px solid #a8000a; color: #222;">
            <thead>
                <tr class="text-center ">
                    <th scope="col" class="admin-display-sm-none" style="width:95px;">
                        @Html.DisplayNameFor(model => model.ScreeningId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Seats)
                    </th>
                    <th scope="col" class="admin-display-none">
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody id="myList">
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="admin-display-sm-none" style="width:95px; display: block; display: -webkit-box; height: 2rem; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;">
                            @{
                                string scr = item.Screening.Movie.Name + ", " + item.Screening.StartDate.ToString("dddd, dd MMMM yyyy") + ", " + item.Screening.StartTime.ToString(@"hh\:mm");
                                @Html.ActionLink(scr, "Details", "Screenings", routeValues: new { id = item.ScreeningId }, htmlAttributes: new { @class = "mt-3 text-link phenomena-sm ml-5" })
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seats)
                        </td>
                        <td class="admin-display-none userEmail">
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            <div class="admin-button">
                                @Html.ActionLink("Edit", "Edit", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                                @Html.ActionLink("Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                                @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                            </div>
                            <div class="admin-button-row">
                                <div class="row">
                                    @Html.ActionLink("Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                                </div>
                                <div class="row">
                                    @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                                </div>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-danger  phenomena-sm " href="/Admin/Bookings/DeleteAllOld">DELETE ALL OLD</a>
    </div>
</div>
<script>
    let Search;
    let rowslist = Array();

    window.onload = function () {
        Search = document.getElementById("Search");
        Search.oninput = SearchForBooking;

        rowslist = document.getElementById("myList").getElementsByTagName("tr");
        for (let i = 0; i < rowslist.length; i++) {
            rowslist[i].unmatched = false;
            rowslist[i].userEmail = rowslist[i].getElementsByClassName("userEmail")[0].innerHTML;
        }
    }
    function SearchForBooking() {
        for (let i = 0; i < rowslist.length; i++) {
            if (rowslist[i].userEmail.indexOf(Search.value) > -1) {
                rowslist[i].unmatched = false;
                rowslist[i].style.display = "";
            }
            else {
                rowslist[i].unmatched = true;
                rowslist[i].style.display = "none";
            }
        };
    }
</script>

