@model VivedyWebApp.Models.Movie

@{
    ViewBag.Title = "Admin | Movie Details";
}

@Html.AntiForgeryToken()

<div class="containerOne">
    <div class="white-bg-color mx-auto text-dark " style="max-width: 750px; border: 0.5rem solid #a8000a;">
        <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">MOVIE DETAILS</h1></div>
        <div class="border-bottom">
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.MovieId) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.MovieId)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">User @Html.DisplayNameFor(model => model.Name) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Rating) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.Rating)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Category) :</div>
                <div class="mb-3 col-md-8 phenomena-sm">
                    @Html.DisplayFor(model => model.Category)
                </div>
            </div>
            <div class="row ">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Description):</div>
                <div class="col-md-8 mb-3 phenomena-sm">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Duration) : </div>
                <div class="mb-3 col-md-8 phenomena-sm">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Duration)
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Price):</div>
                <div class="col-md-8 mb-3 phenomena-sm">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="row ">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.TrailerUrl):</div>
                <div class="col-md-8 mb-3 phenomena-sm">
                    @Html.DisplayFor(model => model.TrailerUrl, new { @class = "text-link" })
                </div>
            </div>
            <div class="row ">
                <div class="col-3 phenomena-sm">Horizontal Image :</div>
                <div class="col-md-8 mb-3 phenomena-sm">
                    <a href="~/Content/Images/@Model.MovieId-HorizontalImage.png" target="_blank" class="text-link">@Model.MovieId-HorizontalImage.png</a>
                </div>
            </div>
            <div class="row ">
                <div class="col-3 phenomena-sm">Vertical Image :</div>
                <div class="col-md-8 mb-3 phenomena-sm">
                    <a href="~/Content/Images/@Model.MovieId-VerticalImage.png" target="_blank" class="text-link">@Model.MovieId-VerticalImage.png</a>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.ActionLink("Edit", "Edit", "AdminMovies", new { id = Model.MovieId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 ml-4  mr-4 phenomena-sm" })
            @Html.ActionLink("Delete", "Delete", "AdminMovies", new { id = Model.MovieId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm" })
        </div>
        <div class="row">
            @Html.ActionLink("Back to List", "Index", "AdminMovies", routeValues: null, htmlAttributes: new { @class = "text-link phenomena-sm ml-5 mt-3 " })
        </div>
    </div>
</div>



