@model VivedyWebApp.Models.ViewModels.AdminRotationsCreateViewModel

@{
    ViewBag.Title = "Create Rotation";
}

@using (Html.BeginForm("Create", "AdminRotations", null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
        <div class="white-bg-color mx-auto text-dark " style="width: 750px; border: .5rem solid #a8000a;">
            <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">ADD ROTATION</h1></div>
            <div class="border-bottom">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.StartTime) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.MovieId) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.MovieId, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.GenerateRotations) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.CheckBoxFor(model => model.GenerateRotations, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.GenerateRotations, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" id="StardDayDiv" style="display: none;">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.StartDay) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.StartDay, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.StartDay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-check phenomena-sm col-8">
                    <input type="submit" value="Create" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3  mr-4 phenomena-sm">
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", "AdminRotations", routeValues: null, htmlAttributes: new { @class = "text-link phenomena-sm ml-2" })
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            let checkbox = document.getElementById("GenerateRotations");
            checkbox.onclick = function () {
                if (checkbox.checked) {
                    document.getElementById("StardDayDiv").style.display = "";
                }
                else {
                    document.getElementById("StardDayDiv").style.display = "none";
                    document.getElementById("StartDay").value = "";
                }
            }
        }
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
