@model VivedyWebApp.Models.Rotation

@{
    ViewBag.Title = "Admin | Rotation Details";
}

<div class="containerOne">
    <div class="white-bg-color mx-auto text-dark " style="max-width: 750px; border: 0.5rem solid #a8000a;">
        <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">ROTATION DETAILS</h1></div>
        <div class="border-bottom">
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.RotationId) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.RotationId)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.StartTime) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.StartTime)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.MovieId) :</div>
                <div class="mb-3 col-md-8 phenomena-sm">
                    @Html.DisplayFor(model => model.MovieId)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.ActionLink("Edit", "Edit", "AdminRotations", new { id = Model.RotationId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 ml-4 mr-4 phenomena-sm" })
            @Html.ActionLink("Delete", "Delete", "AdminRotations", new { id = Model.RotationId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm"  })
        </div>
        <div class="row">
            @Html.ActionLink("Back to List", "Index", "AdminRotations", routeValues: null, htmlAttributes: new { @class = "mt-3 text-link phenomena-sm ml-5" })
        </div>
    </div>
</div>
