@model IEnumerable<VivedyWebApp.Models.Rotation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>
    <div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
        <nav class="nav nav-pills nav-fill  row no-gutters phenomena-sm" style="background-color: #a8000a; ">
            <a class="nav-item nav-link raijaLink " href="/AdminMovies/Index">MOVIES</a>
            <a class="nav-item nav-link raijaLink" href="/AdminBookings/Index"> BOOKINGS </a>
            <a class="nav-item nav-link raijaLink" 
                style="background-color: #f0f0f0; color: #222; border-radius: 0rem; border-top: 5px solid #a8000a;">
                ROTATIONS
            </a>
            <a class="nav-item nav-link raijaLink" href="/AdminUsers/Index">USERS </a>
        </nav>
        <div class="white-bg-color">
            <a type="button" class="btn btn-danger  phenomena-sm " href="/AdminUser/Create">ADD <i class="fas fa-plus"></i></a>
            <input type="text" class="mb-3 float-right" id="myInput" placeholder="Search..">
            <br>
            <table class="table table-striped  phenomena-sm" style="border: 8px solid #a8000a; color: #222;">
                <thead>
                    <tr class="text-center ">
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th >
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.MovieId)
                        </th>
                        <th scope="col">

                        </th>
                    </tr>
                </thead>
                <tbody id="myList">
                    @foreach (var item in Model)
                    {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "AdminMovies", routeValues: new { id = item.RotationId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                            @Html.ActionLink("Details", "Details", "AdminMovies", routeValues: new { id = item.RotationId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                            @Html.ActionLink("Delete", "Delete", "AdminMovies", routeValues: new { id = item.RotationId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
