@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            @Html.ActionLink("Admin", "Index", "Admin", routeValues: null, htmlAttributes: new { id = "adminLink", @class = $"nav-link {(ViewBag.Title.Contains("Admin") ? "active" : null)}" })
        </li>
    }
    using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Title == "Log off" ? "active" : null)" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    }
    <li class="nav-item">
        <a href="/Accounts" class="nav-link ml-1 mr-1 @(ViewBag.Title == "My Account" ? "active" : null)"><i class="fas fa-2x fa-user-circle"></i></a>
    </li>
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Accounts", routeValues: null, htmlAttributes: new { id = "registerLink", @class = $"nav-link {(ViewBag.Title == "Register" ? "active" : null)}" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Log in", "Login", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink", @class = $"nav-link {(ViewBag.Title == "Log in" ? "active" : null)}" })
    </li>
}

