<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Admin | Vivedy</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1N16DQMNK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J1N16DQMNK');
    </script>
    @Styles.Render("~/Content/css")
</head>
<body class="ScrollHide">
    <!-- Nav Bar start -->
    <header>
        <nav class="navHambuguer fixed-top">
            <div class="headersidebar" id="header">
                <div class="header__toggle text-secondary">
                    <i class="fas fa-bars" id="header-toggle"></i>
                </div>
            </div>
        </nav>
        <div class="body" id="body-pd">
            <div class="l-navbar" id="nav-bar">
                <div class="navsidebar">
                    <div class="nav__list">
                        <a href="/Admin/Home/Index" class="nav__link active">
                            <i class="fas fa-home"></i>
                            <span class="nav__name phenomenaSideBar">Home</span>
                        </a>
                        <a href="/Admin/Movies/Index" class="nav__link">
                            <i class="fas fa-film"></i>
                            <span class="nav__name phenomenaSideBar">Movies</span>
                        </a>
                        <a href="/Admin/Screenings/Index" class="nav__link">
                            <i class="fas fa-clock"></i>
                            <span class="nav__name phenomenaSideBar">Screenings</span>
                        </a>
                        <a href="/Admin/Bookings/Index" class="nav__link">
                            <i class="fas fa-ticket-alt"></i>
                            <span class="nav__name phenomenaSideBar">Bookings</span>
                        </a>
                        <a href="/Admin/Users/Index" class="nav__link">
                            <i class="fas fa-users"></i>
                            <span class="nav__name phenomenaSideBar">Users</span>
                        </a>
                        <a href="https://vivedy.azurewebsites.net/Admin/Home/BookingScanner" class="nav__link">
                            <i class="fas fa-qrcode"></i>
                            <span class="nav__name phenomenaSideBar">Scanner</span>
                        </a>
                        <a href="/Home/Index" class="nav__link">
                            <i class="fas fa-arrow-alt-circle-left"></i>    
                            <span class="nav__name">Main Website</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Nav Bar End-->
    <!-- Main Body start-->
    @RenderBody()
    <!-- Main Body End-->
    <!-- Footer start -->

    <!--REMOVED-->

    <!-- Footer End -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/AdminSideBar")
    @RenderSection("styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>