@model VivedyWebApp.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div>
    <div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
        <div class="white-bg-color mx-auto text-dark " style="width: 750px; border: .5rem solid #a8000a;">
            <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">USER DETAILS</h1></div>
            <div class="border-bottom">
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Email) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm" readonly>
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.EmailConfirmed) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Name):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>

                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.PasswordHash) :</div>
                    <div class=" mb-3 col-md-8 phenomena-sm">
                        <div class="checkbox">
                            @Html.DisplayFor(model => model.PasswordHash)
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.SecurityStamp) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </div>
                </div>




                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.PhoneNumber) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        <div class="checkbox">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.PhoneNumberConfirmed):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                    </div>

                </div>

                <div class="row ">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.TwoFactorEnabled):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.TwoFactorEnabled)
                    </div>

                </div>
                <div class="row ">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.LockoutEndDateUtc):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.LockoutEndDateUtc)
                    </div>

                </div>


                <div class="row ">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.LockoutEnabled):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.LockoutEnabled)
                    </div>

                </div>


                <div class="row ">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.AccessFailedCount):</div>
                    <div class="col-md-8 mb-3 phenomena-sm">
                        @Html.DisplayFor(model => model.AccessFailedCount)
                    </div>

                </div>

            </div>


            <div>
                @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm " }) 
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            
        </div>
    </div>
</div>

