@model VivedyWebApp.Models.ViewModels.AdminUsersViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
   

    <div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
        <div class="white-bg-color mx-auto text-dark " style="width: 750px; border: .5rem solid #a8000a;">
            <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">USER DETAILS</h1></div>
            <div class="border-bottom">
                <div class="row">
                    <div class="col-3 phenomena-sm">User @Html.DisplayNameFor(model => model.Id) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm" readonly>
                        @Html.DisplayFor(model => model.Id)
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.Email) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.Name) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 phenomena-sm">@Html.LabelFor(model => model.EmailConfirmed) :</div>
                    <div class=" mb-3 col-md-8 phenomena-sm">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.EmailConfirmed)
                            @Html.ValidationMessageFor(model => model.EmailConfirmed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.PhoneNumber) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "col-md-12" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row">
                    <div class="col-4 phenomena-sm">@Html.LabelFor(model => model.PhoneNumberConfirmed) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.PhoneNumberConfirmed)
                            @Html.ValidationMessageFor(model => model.PhoneNumberConfirmed, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <form action="/action_page.php">
                        <label class="col-3 phenomena-sm">@Html.LabelFor(model => model.UserName):</label>
                        <div class="col-md-8 mb-3 phenomena-sm">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "col-md-12" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.Role) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.Role, new { @class = "col-md-12" })
                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="form-check phenomena-sm col-8">
                    <input type="submit" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm " value="Save">
                </div>
                
            </div>
            <div >
                @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "text-link phenomena-sm"})
            </div>
        </div>
    </div>


    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
