@model VivedyWebApp.Models.MoviesBookingTimeViewModel

@{
    ViewBag.Title = "Booking Time";
}

@using (Html.BeginForm("BookingTime", "Movies", FormMethod.Post, htmlAttributes: new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-lg-9 col-sm-12 ">
                <div class="card text-center mb-5">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <div class="btn btn-danger" disabled>Time</div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">Seats</div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">Payment</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body align-self-center">
                        <h5 class="card-title">Booking Times</h5>
                        <p class="card-text">Select a time to watch your movie</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row mt-5">
                            <div class="">
                                @foreach (var rotation in Model.AvailableRotations)
                                {
                                    <button class="btn btn-danger m-1 align-items-center SubmitButton" style="width:100%; max-width:10rem;" id="@rotation.RotationId">
                                        <p class="mb-2 text-center">@rotation.StartTime.DayOfWeek</p>
                                        <p class="mb-2 text-center">@rotation.StartTime.ToString("dd MMMM yyyy")</p>
                                        <p class="mb-2 text-center">@rotation.StartTime.ToString("hh:mm tt")</p>
                                    </button>
                                }
                            </div>
                            @Html.HiddenFor(m => m.SelectedRotationId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="card mb-5">
                    <img src="~/Content/Images/@Model.Movie.MovieId-VerticalPoster.png" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Movie.Name</h5>
                        <p class="card-text"> Catoegry: <span class="badge badge-pill badge-secondary">@Model.Movie.Category</span></p>
                        <p class="card-text"> Rating: <span class="badge badge-pill badge-danger"> +@Model.Movie.Rating</span></p>
                        <p class="card-text">
                            Movie Duration: <span class="badge badge-pill badge-danger">
                                @Model.Movie.Duration.Hours hr
                                @Model.Movie.Duration.Minutes min
                            </span>
                        </p>
                        <p class="card-text">@Model.Movie.Description</p>
                        <p class="Price"> <span style="color: #A80000;">Movie Price: </span>$@Model.Movie.Price</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            let timeInput = document.getElementById("SelectedRotationId");
            let timesList = document.getElementsByClassName("SubmitButton");
            for (let i = 0; i < timesList.length; i++) {
                timesList[i].onclick = function () {
                    timeInput.value = timesList[i].id;
                }
            }
        }
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
