@model VivedyWebApp.Models.MoviesBookingPayViewModel

@{
    ViewBag.Title = "Booking Payment";
}

@using (Html.BeginForm("BookingPay", "Movies", FormMethod.Post, htmlAttributes: new { role = "form", id = "PayForm" }))
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-lg-9 col-sm-12 ">
                <div class=" text-center mb-5">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <div class="btn btn-danger">Time</div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">Seats</div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">Payment</div>
                            </li>

                        </ul>
                    </div>
                    <div class="align-self-center grey-bg-color">

                        <div class="mb-5 mt-4 phenomena-sm border-bottom mt-5">
                            <h1 class="display-5 text-center">Enter your Payment details</h1>
                        </div>
                        <div class="border-bottom text-center align-self-center">
                            <h5 class="text-center">
                                You will recieve your tickets in the email your provide.
                            </h5>
                            <br />
                            <div class="row ">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-3">
                                    @Html.LabelFor(m => m.Email, new { @class = "phenomena-sm" })
                                </div>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.Email, new { style = "width:100%", @class = "mb-3" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    @Html.LabelFor(m => m.CardNumber, new { @class = "phenomena-sm" })
                                </div>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.CardNumber, new { style = "width:100%", @class = "mb-3" })
                                    @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    @Html.LabelFor(m => m.CVC, new { @class = "phenomena-sm" })
                                </div>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.CVC, new { style = "width:100%", @class = "mb-3" })
                                    @Html.ValidationMessageFor(m => m.CVC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    @Html.LabelFor(m => m.ExpDate, new { @class = "phenomena-sm" })
                                </div>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.ExpDate, new { style = "width:100%", @class = "mb-3" })
                                    @Html.ValidationMessageFor(m => m.ExpDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    @Html.LabelFor(m => m.CardHolder, new { @class = "phenomena-sm" })
                                </div>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.CardHolder, new { style = "width:100%", @class = "mb-3" })
                                    @Html.ValidationMessageFor(m => m.CardHolder, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <div class="row text-center mt-4">
                                <div class="col-12">
                                    <div class=" phenomena-sm ">
                                        <input type="submit" value="Submit"
                                               class="btn btn-danger pl-4 pr-4 pb-2 pt-2 phenomena-sm ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="card mb-5">
                    <img src="~/Content/Images/@Model.Movie.MovieId-VerticalPoster.png" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Movie.Name</h5>
                        <p class="card-text"> Catoegry: <span class="badge badge-pill badge-secondary">@Model.Movie.Category</span></p>
                        <p class="card-text"> Rating: <span class="badge badge-pill badge-danger"> +@Model.Movie.Rating</span></p>
                        <p class="card-text">
                            Movie Duration: <span class="badge badge-pill badge-danger">
                                @Model.Movie.Duration.Hours hr
                                @Model.Movie.Duration.Minutes min
                            </span>
                        </p>
                        <p class="card-text">@Model.Movie.Description</p>
                        <p class="Price"> <span style="color: #A80000;">Movie Price: </span>$@Model.Movie.Price</p>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Price</h5>
                        <p class="card-text">
                            Total Price: &@Model.TotalPrice
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
