@model VivedyWebApp.Models.Booking

@{
    ViewBag.Title = "Delete Booking";
}

@using (Html.BeginForm("Delete", "AdminBookings", null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
        <div class="white-bg-color mx-auto text-dark " style="width: 750px; border: .5rem solid #a8000a;">
            <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">DELETE BOOKING</h1></div>
            <div class="border-bottom">
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.BookingId) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm" readonly>
                        @Html.DisplayFor(model => model.BookingId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.CreationDate) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm" readonly>
                        @Html.DisplayFor(model => model.CreationDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.RotationId) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DisplayFor(model => model.RotationId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 phenomena-sm">@Html.DisplayNameFor(model => model.UserEmail) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DisplayFor(model => model.UserEmail)
                    </div>
                </div>
                <div class="col">
                    <input type="submit" value="Delete" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm">
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", "AdminBookings", routeValues: null, htmlAttributes: new { @class = "text-link phenomena-sm" })
                </div>
            </div>
        </div>
    </div>
}