@model VivedyWebApp.Models.Booking

@{
    ViewBag.Title = "Admin | Booking Details";
}

<div class="containerOneAdmin">
    <div class="white-bg-color mx-auto text-dark "style="max-width: 750px; border: .5rem solid #a8000a;">
        <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">BOOKING DETAILS</h1></div>
        <div class="border-bottom">
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.BookingId) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.BookingId)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.RotationId) :</div>
                <div class="mb-3 col-md-8 phenomena-sm">
                    @Html.DisplayFor(model => model.RotationId)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.Seats) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @Html.DisplayFor(model => model.CreationDate)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.UserEmail) :</div>
                <div class="mb-3 col-md-8 phenomena-sm">
                    @Html.DisplayFor(model => model.UserEmail)
                </div>
            </div>
            <div class="row">
                <div class="col-3 phenomena-sm">@Html.DisplayNameFor(model => model.CreationDate) : </div>
                <div class="mb-3 col-md-8 phenomena-sm" readonly>
                    @{
                        string creationDate = Model.CreationDate.ToString("dddd, dd MMMM yyyy HH:mm tt");
                        @Html.DisplayFor(model => creationDate)
                    }
                </div>
            </div>
        </div>
            <div class="row">
                @Html.ActionLink("Edit", "Edit", "AdminBookings", new { id = Model.BookingId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 mr-4 ml-4 phenomena-sm " })
                @Html.ActionLink("Delete", "Delete", "AdminBookings", new { id = Model.BookingId }, new { @class = "btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm " })
            </div>
            <div class="row">
                @Html.ActionLink("Back to List", "Index", "AdminBookings", routeValues: null, htmlAttributes: new { @class = "mt-3 text-link phenomena-sm ml-5" })
            </div>
        </div>
</div>

