@model IEnumerable<VivedyWebApp.Models.Booking>

@{
    ViewBag.Title = "Admin | Bookings";
}

<div class="card mx-auto " style="width: auto; margin-top: 5rem; margin-bottom: 3rem;">
    <nav class="nav nav-pills nav-fill  row no-gutters phenomena-sm" style="background-color: #a8000a; ">
        <a class="nav-item nav-link raijaLink" href="/AdminMovies/Index">MOVIES</a>
        <a class="nav-item nav-link raijaLink" 
            style="background-color: #f0f0f0; color: #222; border-radius: 0rem; border-top: 5px solid #a8000a;">
            BOOKINGS
        </a>
        <a class="nav-item nav-link raijaLink" href="/AdminRotations/Index">ROTATIONS</a>
        <a class="nav-item nav-link raijaLink" href="/AdminUsers/Index">USERS </a>
    </nav>
    <div class="white-bg-color">
        <a class="btn btn-danger  phenomena-sm " href="/AdminBookings/Create">ADD <i class="fas fa-plus"></i></a>
        <input type="text" class="mb-3 float-right" id="Search" placeholder="Search by Email...">
        <br>
        <table class="table table-striped  phenomena-sm" style="border: 8px solid #a8000a; color: #222;">
            <thead>
                <tr class="text-center ">
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.BookingId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RotationId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Seats)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody id="myList">
                @foreach (var item in Model) {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RotationId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seats)
                        </td>
                        <td class="userEmail">
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @{
                                string creationDate = item.CreationDate.ToString("dddd, dd MMMM yyyy HH:mm tt");
                                @Html.DisplayFor(model => creationDate)
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "AdminBookings", routeValues: new { id = item.BookingId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                            @Html.ActionLink("Details", "Details", "AdminBookings", routeValues: new { id = item.BookingId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" }) |
                            @Html.ActionLink("Delete", "Delete", "AdminBookings", routeValues: new { id = item.BookingId }, htmlAttributes: new { @class = "btn btn-danger  phenomena-sm ", style = "font-size: .7rem;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    let Search;
    let rowslist = Array();

    window.onload = function () {
        Search = document.getElementById("Search");
        Search.oninput = SearchForBooking;

        rowslist = document.getElementById("myList").getElementsByTagName("tr");
        for (let i = 0; i < rowslist.length; i++) {
            rowslist[i].unmatched = false;
            rowslist[i].userEmail = rowslist[i].getElementsByClassName("userEmail")[0].innerHTML;
        }
    }
    function SearchForBooking() {
        for (let i = 0; i < rowslist.length; i++) {
            if (rowslist[i].userEmail.indexOf(Search.value) > -1) {
                rowslist[i].unmatched = false;
                rowslist[i].style.display = "";
            }
            else {
                rowslist[i].unmatched = true;
                rowslist[i].style.display = "none";
            }
        };
    }
</script>

