@model VivedyWebApp.Models.ViewModels.ChangeEmailViewModel
@{
    ViewBag.Title = "ChangeEmail";
}
@using (Html.BeginForm("ChangeEmail", "Accounts", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
<form>
    <div class="containerOne" style="max-width:45rem;">
        <div class="grey-bg-color phenomena-sm" >
            <div class="mb-4 mt-4 phenomena-sm border-bottom ">
                <h1 class="display-5">CHANGE YOUR EMAIL</h1>
            </div>
            <h5 class="mb-3">Please, login again after changing your email.</h5>
            <div class="row">
                <div class="col-3">
                    @Html.LabelFor(m => m.OldEmail, new { @class = "phenomena-sm" })  :
                </div>
                <div class="col-9">
                    @Html.ValidationMessageFor(m => m.OldEmail, "", new { @class = "text-danger phenomena-sm" })
                    @Html.TextBoxFor(m => m.OldEmail, new { style = "width:100%", @class = "mb-3" })

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @Html.LabelFor(m => m.NewEmail, new { @class = "phenomena-sm" })  :
                </div>
                <div class="col-9">
                    @Html.ValidationMessageFor(m => m.NewEmail, "", new { @class = "text-danger phenomena-sm" })
                    @Html.TextBoxFor(m => m.NewEmail, new { style = "width:100%", @class = "mb-3" })

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @Html.LabelFor(m => m.ConfirmEmail, new { @class = "phenomena-sm" })  :
                </div>
                <div class="col-9">
                    @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger phenomena-sm" })
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { style = "width:100%", @class = "mb-3" })

                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-12">
                    <input type="submit" value="Change Email" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm ">

                </div>
                <a href="/Accounts" class="text-link mx-auto"><u>GO BACK</u></a>
            </div>
        </div>
    </div>
</form>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}