@model VivedyWebApp.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Passowrd";
}


@using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
<form>
    <div class="containerOne " style="width: 36rem;">
        <div class="grey-bg-color ">
            <div class="mb-2 mt-4 phenomena-sm border-bottom ">
                <h1 class="display-5">Forgot Password</h1>
            </div>
            <h5 class="phenomena-sm">Please, check your email for a link to password resetting page.</h5>
            
            <div class="pb-2 mb-2 pt-2 mt-2 phenomena-sm">
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(m => m.Email, new { @class = "phenomena-sm" }) Address :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger phenomena-sm" })
                        @Html.TextBoxFor(m => m.Email, new { style = "width:100%", @class = "mb-3" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 phenomena-sm pt-2">
                    <div> Don't have an account? <a href="/Accounts/Register" class="text-link">Register as a new user.</a></div>
                    <div class="text-light">
                        Already have an account? <a href="/Accounts/Login" class="text-link"><u>Log In</u></a>
                    </div>
                </div>
                <div class="col ">
                    <input type="submit" value="Send code" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm ">
                </div>
            </div>
        </div>
    </div>
</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}