@model VivedyWebApp.Models.IndexViewModel

@{
    ViewBag.Title = "My Account";
}
<div>
    <div class="jumbotron container">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <p class="">User Name: @Model.Name</p>
        <p class="">Phone Number: @Model.PhoneNumber</p>
        <div>
            <p class="">Password:</p>
            <P>@Html.ActionLink("Change your password", "ChangePassword")</P>
        </div>
        <div>
            <p class="">Email: @Model.Email</p>
            <P>@Html.ActionLink("Change your email", "ChangeEmail")</P>
        </div>
    </div>
</div>