@using VivedyWebApp.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="containerOne">
        <div class="grey-bg-color">
            <div class="mb-5 mt-4 phenomena-sm border-bottom ">
                <h1 class="display-5">LOGIN TO YOUR ACCOUNT</h1>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-4  phenomena-sm" })
                @Html.TextBoxFor(m => m.Email, new { @class = "mb-3 col-7" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Password, new { @class = " col-4 phenomena-sm" })
                @Html.PasswordFor(m => m.Password, new { @class = "mb-3 col-7" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-6">
                    <div> Don't have an account? @Html.ActionLink("Register as a new user", "Register")</div>
                    <div> @Html.ActionLink("Forgot your password?", "ForgotPassword") </div>
                </div>
                <div class="col-6 text-center">
                    <div class="col-6">
                        <input type="submit" value="Log In" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm ">
                    </div>
                    <div class="col-6">
                        <label class="form-check-label mt-2" for="flexCheckDefault"> Remember Me? <input class="" type="checkbox" value="" id="flexCheckDefault"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
