@model VivedyWebApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="containerOne" style="max-width: 48rem;">
        <div class="grey-bg-color">
            <div class="mb-3 mt-4 phenomena-sm border-bottom ">
                <h1 class="display-5 ">REGISTER NEW ACCOUNT</h1>
            </div>
            <div class="border-bottom align-self-center phenomena-sm">
                <h5 class="phenomena-sm">Please, confirm your email address by following the link in the email you will recieve after registering.</h5>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger phenomena-sm" })
                <div class="row ">

                    <div class="col-3">
                        @Html.LabelFor(m => m.Name, new { @class = "phenomena-sm" })  :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger phenomena-sm" })
                        @Html.TextBoxFor(m => m.Name, new { style = "width:100%", @class = "mb-3" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "phenomena-sm" })  :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger phenomena-sm" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { style = "width:100%", @class = "mb-3" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(m => m.Email, new { @class = "phenomena-sm" }) Address :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger phenomena-sm" })
                        @Html.TextBoxFor(m => m.Email, new { style = "width:100%", @class = "mb-3" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(m => m.Password, new { @class = "phenomena-sm" })  :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger phenomena-sm" })
                        @Html.PasswordFor(m => m.Password, new { style = "width:100%", @class = "mb-3" })

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "phenomena-sm" })  :
                    </div>
                    <div class="col-9">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger phenomena-sm" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:100%", @class = "mb-3" })

                    </div>
                </div>
                <div class="row phenomena-sm mb-4 ">
                    <label class="form-check-label  mt-2 col-12" for="flexCheckDefault">
                        <input class="form-check-label" type="checkbox" value="" id="flexCheckDefault">
                        I would like to recieve offers from VIVEDY.
                    </label>
                    <label class="form-check-label col-12" for="flexCheckDefault">
                        <input class="form-check-label" type="checkbox" value="" id="flexCheckDefault" required>
                        I have read and agreed to the <a href="/Home/Privacy" class="text-link"><u>Terms & agreement</u></a>
                        and <a href="/Home/Privacy" class="text-link"><u>Privacy Policy</u></a>
                    </label>
                </div>
            </div>
            <div class="align-self-center">
                <div class="row mt-4">

                    <div class="col-9">
                        <div class="phenomena-sm ">
                            <div class="text-light">
                                Already have an account? <a href="/Accounts/Login" class="text-link"><u>Log In</u></a>
                            </div>
                            <a href="/Accounts/ForgotPassword" class="text-link"><u>I forgot my Password</u></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" phenomena-sm ">
                            <input type="submit" value="Register" class="btn btn-danger pb-2 pt-2 phenomena-sm " style="max-width: 70px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


