@model VivedyWebApp.Areas.Admin.Models.ViewModels.ScreeningsViewModel

@{
    ViewBag.Title = "Edit Screening";
}

@using (Html.BeginForm("Edit", "Screenings", null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="containerOneAdmin">
        <div class="white-bg-color mx-auto text-dark " style="max-width: 750px; border: .5rem solid #a8000a;">
            <div class="mb-5 mt-4 phenomena-sm border-bottom border-dark " style="color: #a8000a"><h1 class="display-5">EDIT SCREENING</h1></div>
            <div class="border-bottom">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.StartDate) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "col-md-12", @format = "yyyy-MM-dd", @value = Model.StartDate.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.StartTime) : </div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "col-md-12", @value = Model.StartTime.ToString(@"hh\:mm") } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.MovieId) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DropDownList("MovieId", Model.Movies, new { @class = "col-md-12" })
                        @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 phenomena-sm">@Html.LabelFor(model => model.RoomId) :</div>
                    <div class="mb-3 col-md-8 phenomena-sm">
                        @Html.DropDownList("RoomId", Model.Rooms, new { @class = "col-md-12" })
                        @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <input value="Save" type="submit" class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3  ml-3 mr-4 phenomena-sm">
            </div>
            <div class="row">
                @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "mt-3 text-link phenomena-sm ml-5" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
